body {
    padding: 20px;
}

button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: salmon;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: lightsalmon;
}

.list-unstyled {
    list-style-type: none;
    margin: 0;
}

.deleteButton {
    background: red;
}

.editButton {
    background: green;
}