body {
    padding: 20px;
    font-family: Arial, sans-serif;
}

button {
    margin-top: 20px;
    height: 40px;
    font-weight: bold;
    padding: 0 20px;
    background: salmon;
    border: none;
    border-radius: 4px;
    color: white;
}

button:hover {
    background: lightsalmon;
}

h1 {
    color: blueviolet;
}

input {
    border-color: transparent;
    height: 35px;
    width: 80%;
    padding-left: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.container {
    padding: 5%;
    margin: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
    border-radius: 4px;
    width: 500px;
}

.todoLabel {
    height: 35px;
    width: 100px;
}

.list-unstyled {
    list-style-type: none;
    margin: 0;
}

.addButton {
    background: blueviolet;
    margin-left: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.deleteButton {
    background: red;
    margin-left: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}

.editButton {
    background: green;
    margin-left: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
}